<section class="auth-section">
  <div class="logo">
    <span class="icon"><%= svg "swim" %></span>
    <span class="icon"><%= svg "ride" %></span>
    <span class="icon"><%= svg "run" %></span>
  </div>
  <%= link_to "Se connecter à Strava", "/auth", class: "btn btn-strava" %>
</section>